[Unit]
Description=Opteee Discord Bot
After=network.target

[Service]
Type=simple
User=bthaile
WorkingDirectory=/Users/bthaile/gitrepos/opteee/discord
Environment=PYTHONPATH=/Users/bthaile/gitrepos/opteee/discord
ExecStart=/Users/bthaile/gitrepos/opteee/venv/bin/python discord_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 